@import url('normalize.css');
/* General Demo Style */
body{
	font-family: 'Open Sans','Arial Narrow', serif;
	font-weight: 400;
	font-size: 14px;
	color: #666;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	background: url('./bg.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;

}
p{
	font-family: 'Open Sans','Arial Narrow', serif;
}
#logo {
    margin: 20px auto;
    background-image: url('./logo.png');
    width: 150px;
    height: 150px;
		background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
ul span {
	font-family: 'Open Sans Condensed','Arial Narrow', serif;
	font-size: 1.35em;
	color: #70002d;
}
a,
a:visited, 
a:hover, 
a:active {
	text-decoration: none;
	color: #70002d;
}


.wrap{
	width: 95%;
	max-width: 600px;
	margin: 0 auto 10% auto;
	background: rgba(255,255,255,0.95);
	height: auto;
}
.clr{
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}
.backButton {
	position: fixed;
	top: 0;
	right: 10px;
	background: url('./logo3.png');
	background-size: 100%;
	padding: 32px;
	color: white;
	font-size: 35px;
	border-radius: 0px 0px 5px 5px;
}

b {
	font-weight: 700;
	color: #e00007;
}

ul {
	padding-left: 0;
	list-style-type: none;
}

.trunca {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.days li.week {
	text-align: center;
	border-bottom: 1px solid #b1b1b1;
	font-family: 'Open Sans Condensed','Arial Narrow', serif;
	color: #70002d;
	font-size: 1.7em;
	font-weight: bold;
	border-bottom:2px solid #70002d;
	background-color:#fff;
	padding:10px 0;
}



.day {
    padding: 0 6px;
    float: left;
    width: 38px;
    text-align: center;
    background-color: #70002D;
    color: #FFF;
    margin-left: -4px;
		-webkit-box-shadow: 1px 3px 1px -1px rgba(100,100,100,0.5);
		-moz-box-shadow: 1px 3px 1px -1px rgba(100,100,100,0.5);
		box-shadow: 1px 3px 1px -1px rgba(100,100,100,0.5);
}

.days .title {
    font-weight: 600;
    width: 80%;
    padding-left: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
	cursor:pointer;
}

.fb {
    width: 21px;
    height: 21px;
    display: block;
    background-image: url(fb.png);
    background-size: 100%;
    float: right;
    margin: 1px 0 0 7px;
    border-radius: 2px;
}

.no_fb{
	height: 17px;
	display: block;
	float: Right;
}

.fb a{
    width: 21px;
    height: 21px;
    display: block;
}

.days p {
	font-weight: 300;
}

.hello {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: table;
	background: #71002e;
	z-index: 5000;
}
.pic{
	display: none;
}

.KFS{
	margin-top:50px;
}

.KFS a{
	color:white;
	font-family: adobe-garamond-pro,Georgia,serif;
}

.KFS img{
	width:120px;
}

.hello .helloText {
	font-size: 30px;
	color: white;
	font-weight: 200;
	vertical-align: middle;
	text-align: center;
	display: table-cell;
	-webkit-font-smoothing: antialiased;
}

.toTop {
    position: fixed;
    width: 24%;
    bottom: 0;
    max-height: 37px;
    left: 38%;
    background: rgba(215, 215, 215, 0.7);
    text-align: center;
    color: gray;
    font-weight: bolder;
    font-size: 26px;
    border-radius: 5px 5px 0px 0px;
    cursor: pointer;
    z-index: 4999;
}

.header .triangle {
    float: left;
    /* width: 0; */
    /* height: 0; */
    /* top: 20px; */
    border-top: 3px solid #666;
    border-left: 4px solid transparent;
    margin-top: 29px;
    margin-left: -50px;
}

.slider .triangle-left{
    float: left;
    border-top: 2px solid #BBB;
    border-left: 4px solid transparent;
    margin: -10px 0px 0 -14px;
}

.slider .triangle-right{
    float: right;
    border-top: 2px solid #BBB;
    border-right: 5px solid transparent;
    margin: -10px -15px 0 0;
}

#clockdiv{
    font-family: sans-serif;
    color: #fff;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: rgba(1,1,1,0.2);
    display: inline-block;
}

.smalltext{
    font-size: 16px;
	margin-top:2px;
}

#centered-logo{
	text-align: center;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
#upper_right {
	position: absolute;
	top: 0;
	right: 0%;
	width:120px;
}

@media only screen /*Desktop*/
  and (min-width: 1000px){
		#upper_right{width:160px}
	}
	
	@media only screen /*mobile*/
  and (max-device-width: 404px){
		#upper_right{width:75px}
		.KFS{	margin-top:10px;}
		.pic{font-size: 18px;}
		.KFS img{width:70px;margin-bottom:-10px;}
	}