body::-webkit-scrollbar {
    width: 0;
}

body::-webkit-scrollbar-track {

}

body::-webkit-scrollbar-thumb {

}

ul {
  padding-left: 0;
  list-style-type: none;
}
.tabs {
  position: relative;
  margin: 0 auto;
  max-width: 600px;
}

.tabs input {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 40px;
  left: 0px;
  top: 0px;
  opacity: 0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  cursor: pointer;
}
.tabs input#tab-2{
  left: 200px;
}
.tabs input#tab-3{
  left: 400px;
}


.tabs label {
  background: #70002d;
  background: -moz-linear-gradient(top, #68002a 0%, #70002d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#68002a), color-stop(100%,#70002d));
  background: -webkit-linear-gradient(top, #68002a 0%,#70002d 100%);
  background: -o-linear-gradient(top, #68002a 0%,#70002d 100%);
  background: -ms-linear-gradient(top, #68002a 0%,#70002d 100%);
  background: linear-gradient(top, #68002a 0%,#70002d 100%);
  font-size: 18px;
  line-height: 42px;
  height: 42px;
  position: relative;
  padding: 0 20px;
  display: block;
  color: #f4f4f4;
  letter-spacing: 1px;		
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
}

.tabs label:after {
  content: '';
  background: #fff;
  position: absolute;
  left: 0;
  width: 100%;
  display: block;
}

.tabs input:hover + label {
  background: #620027;
}

.tabs label:first-of-type {
  z-index: 4;
}

.tab-label-2 {
  z-index: 3;
}

.tab-label-3 {
  z-index: 2;
}

.tabs input:checked + label {
  background: #fff;
  z-index: 6;
  color:#70002d;
}

.clear-shadow {
  clear: both;
}

.content {
  position: relative;
  width: inherit;
  z-index: 5;
}

.content div {
  position: absolute;
  z-index: 1;
  opacity: 0;
  background-color: #FFF;
  -webkit-transition: opacity linear 0.1s;
  -moz-transition: opacity linear 0.1s;
  -o-transition: opacity linear 0.1s;
  -ms-transition: opacity linear 0.1s;
  transition: opacity linear 0.1s;
}

.tabs input.tab-selector-1:checked ~ .content .content-1,
.tabs input.tab-selector-2:checked ~ .content .content-2,
.tabs input.tab-selector-3:checked ~ .content .content-3 {

  z-index: 100;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;

  -webkit-transition: opacity ease-out 0.2s 0.1s;
  -moz-transition: opacity ease-out 0.2s 0.1s;
  -o-transition: opacity ease-out 0.2s 0.1s;
  -ms-transition: opacity ease-out 0.2s 0.1s;
  transition: opacity ease-out 0.2s 0.1s;
}
.content div h2,
.content div h3{
  color: #70002d;
}
.content div p {
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  margin: 0;
  color: #666;
  font-family: 'Open Sans','Arial Narrow', serif;
}

.content-1{
	width:100%;
}

.content-2,
.content-3,
.content-4{
  padding: 10px 40px;
  padding-bottom: 40px;
}

.content div .slider,
.content div .header,
.content div .slider div{
	position:relative;
	opacity:1;
}

.content div .slider{
	padding: 10px 15px 15px 15px;
	width:95%;
	margin:0 auto 0px auto;
  border-bottom: 1px solid #e8e8e8;
}


div .top {
	opacity: 100;
	background: none;
    padding: 1px;
    margin-top: -4px;
}

.days .top span {
	font-size: 14px;
	font-weight: 300;
}

.days .top .date {
}
.days .top .dresscode {
	float: right;
	text-align: right;
	padding-top:2px;
}

.invis{
	display:none;
}

.content div .header{
	background:#FFF;
	padding: 8px 0;
	z-index:2;
	box-shadow: 0px 3px 7px -2px #aaa;
}

.days{margin:-40px 0;}
dl, menu, ol, ul {
    margin: 40px 0;
}
.days .dayli:nth-child(odd) .header {
	background: #e4e4e4;
}

.days .header .today {
	background: rgba(224, 12, 0, 0.8);
}

.days li div.past {
	color: gray;
}
.days .dayli:nth-child(odd) .header{
  background: #f5f5f5;
}
.map {
  max-width:640px;
  max-height:200px;
  width: auto;
  height: auto;
}
.map-container{
  width: 100%;
  margin: 0 auto;
  margin-top:20px;
  text-align: center;
}
@media only screen /*Desktop*/
  and (min-width: 1000px){
	  .tabs label {float:left; width:160px;}
	  .wrap {margin: 30px auto 30px auto;}
	  .tabs input{width:200px}
	  .toTop {left:92%;max-height:none;width:25px;position: fixed;bottom: 0;right: 10px;background: rgba(215, 215, 215, 0.7);padding: 10px 23px 0px;color: gray;font-size: 35px;border-radius: 5px 5px 0px 0px;cursor:pointer;}
	}
@media only screen /*Tablet*/
	and (min-width: 871px) and (max-width: 1000px){
	  .tabs label {float:left; width:160px;}
	  .tabs input{width:200px}
}

/*
@media only screen /*Smartphone*//*
  and (max-device-width: 500px){
  .tabs label {}
  .tabs input#tab-2 {left: 0;top:40px;height:40px;}
  .tabs input#tab-3 {left: 0;top:80px;height:40px;}
  .tabs input#tab-4 {left: 0;top:120px;height:40px;}
  .content div.slider{width:90%}
}
.content-1 .content-2  .content-3 .content-4{
	margin-bottom: 40px;
}
*/

.content-1 .content-2  .content-3 {
	padding-bottom: 40px;
}

@media only screen /*Larger tablets*/
    and (max-width: 870px){
      html{min-height: 100%;}
      body{
      	background: url('./nollning-bg-t.jpg') #ececec;
      	background-size: 100%;
      	background-attachment: fixed;
      	background-position: top center;
        background-repeat: no-repeat;

      }
      .wrap{
        width: auto;
        /*max-width: auto;*/
        margin: 0 5% 10% 5%;
      }
      .tabs{
        width: auto;
        /*max-width: auto;*/
      }
      .tabs label {float:left; width:33%;padding: 0;}
      .tabs label:after {width:33%;}
      .tabs input {
        width: 33%;
      }
      .tabs input#tab-2{
        left: 0;
        left: auto;
      }
      .tabs input#tab-3{
        left: 0;
        left: auto;
      }
      

  }
  /* ipad Landscape */
  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
    html{min-height: 100%;}
    body{
      background: url('./nollning-bg-t.jpg') #ececec;
      background-size: 100%;
      background-attachment: fixed;
      background-position: top center;
      background-repeat: no-repeat;

    }
    .wrap{
      width: auto;
      max-width: 100%;
      margin: 0 5% 10% 5%;
    }
    .tabs{
      width: auto;
      max-width: 100%;
    }
    .tabs label {float:left; width:33%;padding: 0;}
    .tabs label:after {width:33%;}
    .tabs input {
      width: 33%;
    }
    .tabs input#tab-2{
      left: 0;
      left: auto;
    }
    .tabs input#tab-3{
      left: 0;
      left: auto;
    }
	
    .top{
      padding: 1% 1% 1% 1%!important;
    }
    .bread{
      padding: 1% 1% 2% 1%;
    }
    .toTop {
      position: fixed;
      width: 24%;
      bottom: 0;
      max-height: 37px;
      left: 38%;
      background: rgba(215, 215, 215, 0.7);
      text-align: center;
      color: gray;
      font-weight: bolder;
      font-size: 26px;
      border-radius: 5px 5px 0px 0px;
      cursor: pointer;
      z-index: 4999;
  }
  }
  /* retina ipad Landscape*/
  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
    html{min-height: 100%;}
    body{
      background: url('./nollning-bg-t.jpg') #ececec;
      background-size: 100%;
      background-attachment: fixed;
      background-position: top center;
      background-repeat: no-repeat;

    }
    .wrap{
      width: auto;
      max-width: 100%;
      margin: 0 5% 10% 5%;
    }
    .tabs{
      width: auto;
      max-width: 100%;
    }
    .map-container{
      margin-top: 0;
    }
    .tabs label {float:left; width:33%;padding: 0;}
    .tabs label:after {width:33%;}
    .tabs input {
      width: 33%;
    }
    .tabs input#tab-2{
      left: 0;
      left: auto;
    }
    .tabs input#tab-3{
      left: 0;
      left: auto;
    }

	
    .toTop {
      position: fixed;
      width: 24%;
      bottom: 0;
      max-height: 37px;
      left: 38%;
      background: rgba(215, 215, 215, 0.7);
      text-align: center;
      color: gray;
      font-weight: bolder;
      font-size: 26px;
      border-radius: 5px 5px 0px 0px;
      cursor: pointer;
      z-index: 4999;
  }
  }
  @media only screen /*iPad/tablet*/
        and (max-device-width: 768px){
          .content-1{
            padding-bottom: 30px;
          }
          .map-container{
            margin-top: 0;
          }
          .top{
            padding: 1% 1% 1% 1%!important;
          }
          .bread{
            padding: 1% 1% 2% 1%;
          }
  }
  @media only screen /*iPhone 6 bigger Android*/
      and (max-device-width: 767px){
        body{
          background: url('./nollning-bg-m.jpg') #ececec;
          background-size: 100%;
          background-attachment: fixed;
          background-position: top center;
          background-repeat: no-repeat;
        }
        .wrap{
          width: auto;
          /*max-width: auto;*/
          margin: 0 3% 10% 3%;
        }
        .content-2, .content-3, .content-4 {
          padding: 5% 8% 15% 8%;
        }
        .triangle-left{
          display: none;
        }
        .triangle-right{
          display: none;
        }
        .triangle{
          display: none;
        }
        .content div .slider {
          width: 100% ;
          padding: 0;
        }
        .slider div{
          padding: 1% 4% 2% 4%;
        }
        .top{
          padding: 3% 3% 0% 3%!important;
        }
        .fb {
          padding: 0px !important;
        }
        .map-container{
          padding: 1% 1% 2% 1%!important;
          width: auto;
        }
        .map{
          display: inline;
        }
}
@media only screen /*Maps fix*/
    and (max-width: 700px){

      .map{
        display: block;
        width:94%;
        height: auto !important;
      padding-left:3%;
    padding-right:3%;}
}
@media only screen /*iPhone 5 Samsung S5*/
    and (max-device-width: 374px){
      .clockdiv{
        width: 100%;
        font-size: 110%;
      }
      .clockbox{
        width:20%;
      }
      #clockdiv > div {
        padding: 0;
      }
      #clockdiv div > span {
        padding: 7px;
      }
      #tab-1{
        width: 0;
        width: 25%!important;
      }
      .tab-label-1{
        width: 0;
        width: 25%!important;
      }
      #tab-2{
        width: 0;
        width: 22%!important;
      }
      .tab-label-2{
        width: 0;
        width: 22%!important;
      }
      #tab-3{
        width: 0;
        width: 22%!important;
      }
      .tab-label-3{
        width: 0;
        width: 22%!important;
      }
      
}
